<div class="discussions">   
    <h3>Latest discussions</h3>
</div>  
{{log subjectTitle}}
{{#each discussionDetail}}
<div class="discussions">    
    <div class="eachDiscussion">
        <div class="img">
            <img src="https://randomuser.me/api/portraits/med/men/36.jpg">
        </div>
        <div class="questionContent">
            <span>{{this.[1]}}</span>
            <h4>{{this.[0]}}</h4>
            <p>{{this.[2]}}</p>
            </br>
            <div class="dateReply">
                <span>5{{replyNumber}} reply</span>
                </br>
                <p>22 oct 2019{{replyDateDate}} {{replyDateMonth}} {{replyDateYear}}</p>
            </div>
        </div>
    </div>
</div>
{{/each}}


{{log this.discussionDetail}}
{{log this.discussionDetail.discussions1}}






{{#if nextButton}}
<div class="nextPage">
    <button type="submit">Next-></button>
</div>
{{/if}}
{{#if prevButton}}
<div class="nextPage">
    <button type="submit"><-Prev</button>
</div>
<div class="nextPage" style="display:none">
    <button type="submit">Next-></button>
</div>
{{/if}}