{{#each discussionDetail}}

<div class="discussions">    
    <div class="eachDiscussion">
        <div class="img">
            <img src="https://randomuser.me/api/portraits/med/men/36.jpg">
        </div>
        <div class="questionContent">
            <span>{{this.[1]}}</span>
            <h4>{{this.[0]}}</h4>
            <p>{{this.[2]}}</p>
            </br>
            <div class="dateReply">
                <span>5{{replyNumber}} reply</span>
                </br>
                <p>22 oct 2019{{replyDateDate}} {{replyDateMonth}} {{replyDateYear}}</p>
            </div>
        </div>
    </div>
</div>
{{/each}}
  {{#each posts}}
        <div class="each" data={{this.post_id}}>
        
            <div class="img">
                {{#if this.user_id.[1]}}
                    <a href="/user/{{../user.user_id}}/view/{{this.user_id.[0]}}"><img src={{this.image_url}}></a>
                {{else}}
                    <a href="/user/{{../user.user_id}}/view/{{this.user_id}}"><img src={{this.image_url}}></a>
                {{/if}}
            </div>

            <div class="content">
                <span>{{this.topic}}</span>
                <h4>{{this.subject}}</h4>
                <p>{{this.details}}</p>
                <div class="dateAndReply">
                    <span Onclick="showReplys(event)">
                        {{replys ../replys post_id}} replies
                    </span>
                    <p>{{this.post_date}}</p>
                </div>
                <div class="replys">
                    <div class="comment">
                        <form action="/user/discussion/reply/submit" method="POST">
                            <input style="display:none" name="post_id" value={{post_id}}>
                            <input style="display:none" name="user_id" value={{../user.user_id}}>
                            <textarea rows="3" name="comment" placeholder="add your reply ..."></textarea>
                            <button type="submit">comment</button>
                        </form>
                    </div>
                    {{#each ../replys}}
                        {{#xIf this.post_id "===" ../this.post_id}}
                            <div class="eachReply">
                                <div class="imgReplier">
                                    <img src={{image_url}}>
                                </div>
                                <p>{{content}}</p>
                            </div>
                        {{/xIf}}
                    {{/each}}
                </div>
            </div>
        </div>
    {{/each}}

{{#if nextButton}}
<div class="nextPage">
    <button type="submit">Next-></button>
</div>
{{/if}}
{{#if prevButton}}
<div class="nextPage">
    <button type="submit"><-Prev</button>
</div>
<div class="nextPage" style="display:none">
    <button type="submit">Next-></button>
</div>
{{/if}}