{{>searchBar}}
<div class="userContent">    
    <div class="userContent">
        <div class="leftContent">
            <div class="user">
                <img src="{{context.imageUrl}}">
                <p>{{context.firstName}} {{context.lastName}}</p>
                <span>{{context.about}}</span>
            </div>
            <div class="userLikes">
                <ul>
                    <li><a href="/post/">Posts</a><span>{{context.postNum}}</span></li>
                    <li><a href="/message/">Messages</a><span>{{context.msgNum}}</span></li>
                    <li>Likes<span>{{context.likeNum}}</span></li>
                    <li><a href="/edit">Edit Profile</a></li>
                </ul>
            </div>
        </div>

    <div class="rightContent">
        <div class="questionBar">
            <h3>whats your question today?</h3>
            <form class="formQuestion" action="/Questions/createQuestion" method="POST">
                <input class="subject" name="subject" placeholder="subject" />
                <textarea rows="5" name="detail" placeholder="explain in detail ..."></textarea>
                <div class="topics">
                    <label value="">topic</label>
                    <select name ="topiclist">
                        <option value="php">PHP</option>
                        <option value="nodejs">Nodejs</option>
                        <option value="java">Java</option>
                        <option value="sql">Sql</option>
                        <option value="zend">Zend</option>
                    </select>
                    <button>post to timeline</button>
                </div>
                 </form>
                <div class="topics">
                    <label>Search by topic</label>
                    <select>
                        <option value="php">PHP</option>
                        <option value="nodejs">Nodejs</option>
                        <option value="java">Java</option>
                        <option value="sql">Sql</option>
                        <option value="zend">Zend</option>
                    </select>
                    <button type="submit">go-></button>
                </div>
           
        </div>

        <div class="discussions">
            <h3>Latest discussions</h3>
            <div class="eachDiscussion">
                <div class="img">
                    <img src="https://randomuser.me/api/portraits/med/men/39.jpg">
                </div>
                <div class="questionContent">
                    <span>nodejs</span>
                    <h4>Node not working</h4>
                    <p>Problems..............................................................</p>
                    <div class="dateReply">
                        <span>5 reply</span>
                        <p>25 oct 2019</p>
                    </div>
                   
                </div>
            </div>
            <div class="nextPage">
                <button type="submit">Next-></button>
            </div>
        </div>
    </div>
</div>
