{{>searchBar}}
<div class="userContent">
    <div class="userContent">
        <div class="leftContent">
            <div class="user">
                <img src="{{context.imageUrl}}">
                <p>{{context.firstName}} {{context.lastName}}</p>
                <span>{{context.about}}</span>
            </div>
            <div class="userLikes">
                <ul>
                    <li><a href="/post/">Posts</a><span>{{context.postNum}}</span></li>
                    <li><a href="/message/">Messages</a><span>{{context.msgNum}}</span></li>
                    <li>Likes<span>{{context.likeNum}}</span></li>
                    <li><a href="/edit">Edit Profile</a></li>
                </ul>
            </div>
        </div>

        <div class="rightContent">
            <div class="questionBar">
                <h3>whats your question today?</h3>
                <form class="formQuestion" action="/Questions/createQuestion" method="POST">
                    <input class="subject" name="subject" placeholder="subject" />
                    <textarea rows="5" name="detail" placeholder="explain in detail ..."></textarea>
                    <div class="topics">
                        <label value="">topic</label>
                        <select name="topiclist">
                            <option value="php">PHP</option>
                            <option value="nodejs">Nodejs</option>
                            <option value="java">Java</option>
                            <option value="sql">Sql</option>
                            <option value="zend">Zend</option>
                        </select>
                        <button>post to timeline</button>
                    </div>
                </form>
                <div>
                    <label>Search by topic</label>
                    <select id="searchLastestDiscussionByTopic">
                        <option value="php">php</option>
                        <option value="nodejs">nodejs</option>
                        <option value="java">java</option>
                        <option value="sql">sql</option>
                        <option value="zend">zend</option>
                    </select>
                    <button onClick='searchLastestDiscussionByTopic()'>go-></button>
                    <button onClick='clearUpDisplayNone()'>clear</button>
                </div>
            </div>
<script>
    function submitcheck(element)
{
  alert("The action to execute is " + element.action);
  return true;
}
</script>
        <div class="discussions">
            <h3>Latest discussions</h3>
            {{#each context.questions}}
                <div class="eachDiscussion">
                    <div id="questionPic">
                        <a href = "/profile"><img src="{{this.User.dataValues.imageUrl}}" ></a>
                    </div>
                    <div id="question" class='questionContent'>
                        <span id = "questionTopic">{{this.topic}}</span>
                        <h4 id="questionSubject">{{this.dataValues.subject}}</h4>
                        <p id="questionsContent">{{this.dataValues.details}}</p>
                        <div class = "dateReply">   </div>
                            <span class= 'repliesBox'>Replies</span>
                            <p>{{this.dataValues.createdAt}}</p>
                     
                    </div>
                </div>
            {{/each}}
        </div>
            <div class="nextPage">
                <button type="submit">Next-></button>
            </div>
        </div>
    </div>
</div>