{{> searchBar}}
<div id="profile">
    <div id="left">
        <img src="{{context.imageUrl}}">
        <h1> {{context.firstName}} {{context.lastName}}</h1>
        <p> {{context.about}}</p>
        <p> {{context.country}} </p>
    </div>

    <div id="right">
        <a href = "/messageInbox"><button type="button" id="message"> Message </button></a>
        <div id="moreDesc">
            <span id="likes">
                <p> {{context.likeNum}} Likes</p>
                <button type="button" id="increaseLike"> + </button>
            </span>
            <p>{{context.postNum}} Posts</p>
        </div>
    </div>

</div>


<h1 id="postBy">All posts by {{context.firstName}}</h1>

<script>
    function submitcheck(element) {
        alert("The action to execute is " + element.action);
        return true;
    }
</script>
<div class="discussions">
    {{#each context.questions}}
    <div class="eachDiscussion">
        <div id="questionPic">
            <img src="{{this.User.dataValues.imageUrl}}">
        </div>
        <div id="question" class='questionContent'>
            <span id="questionTopic">{{this.topic}}</span>
            <h4 id="questionSubject">{{this.dataValues.subject}}</h4>
            <p id="questionsContent">{{this.dataValues.details}}</p>
            <div class="dateReply"> </div>
            <span class='repliesBox'>Replies</span>
            <p>{{this.dataValues.createdAt}}</p>
        </div>
    </div>
    {{/each}}
</div>