{{> searchBar}}
<div id="profile">
    <div id="left">
        <img src="{{context.imageUrl}}">
        <h1> {{context.firstName}} {{context.lastName}}</h1>
        <p> {{context.about}}</p>
        <p> {{context.country}} </p>
    </div>

    <div id="right">
        <a href = "/messageInbox"><button type="button" id="message"> Message </button></a>
        <div id="moreDesc">
            <span id="likes">
                <p> {{context.likeNum}} Likes</p>
                <button type="button" id="increaseLike"> + </button>
            </span>
            <p>{{context.postNum}} Posts</p>
        </div>
    </div>

</div>


<h1 id="postBy">All posts by {{context.firstName}}</h1>

<div id="content">
    <form method= "POST", action="/home/next5discuession">
        {{#each context.questions}}
            <div class="eachDiscussion">
                <div class="profilePictureQuestion" id="questionPic">
                    <img src="{{this.User.dataValues.imageUrl}}">
                    <input type="hidden" class= "firstNameQuestion" id="firstNameQuestion" name="firstName" value="{{this.User.dataValues.firstName}}">
                        <input type="hidden" class= "userIdQuestion" id="userIdQuestion" name="userId" value="{{this.User.dataValues.id}}">
                </div>
                <div id="question" class='questionContent'>
                    <span name="questionTopic" id = "questionTopic">{{this.topic}}</span>
                    <h4 name="questionsubject" id="questionSubject">{{this.dataValues.subject}}</h4>
                    <p name="questionDetails" id="questionsContent">{{this.dataValues.details}}</p>
                    <div class = "dateReply"></div>
                        <span class= 'repliesBox'>Replies</span>
                        {{{this.dataValues.createdAt}}}
                        {{!-- <input name="date" id ="questiondate">{{{this.dataValues.createdAt}}}</input> --}}
                </div>
            </div>
        {{/each}}
        <div class="nextPage">
            <button type="submit">Next-></button>
        </div>
    </form>
</div>