{{> searchBar}}
<div id="profile">
    <div id="left">
        <img src="{{context.imageUrl}}">
        <h1> {{context.firstName}} {{context.lastName}}</h1>
        <p> {{context.about}}</p>
        <p> {{context.country}} </p>
    </div>

    <div id="right">
        <a href = "/messageInbox"><button type="button" id="message"> Message </button></a>
        <div id="moreDesc">
            <span id="likes">
                <p> {{context.likeNum}} Likes</p>
                <button type="button" id="increaseLike"> + </button>
            </span>
            <p>{{context.postNum}} Posts</p>
        </div>
    </div>

</div>


<h1 id="postBy">All posts by {{context.firstName}}</h1>

<div id="content">
    <div class="eachDiscussion">
        <div class="img">
            <img src="https://randomuser.me/api/portraits/med/men/39.jpg">
        </div>
        <div class="questionContent">
            <span>nodejs</span>
            <h4>Node not working</h4>
            <p>Problems..............................................................</p>
            <div class="dateReply">
                <span>5 reply</span>
                <p>25 oct 2019</p>
            </div>
        </div>
    </div>
</div>