{{> searchBar}}
<div class="discussions">
    <div class="eachDiscussion"></div>
    <div class="profilePictureQuestion" id="questionPic">
        <img src="{{context.User.dataValues.imageUrl}}" onclick="loadUserProfile()">
    </div>
    <div id="question" class='questionContent'>
        <input type="hidden" id="firstNameQuestion" name="firstName" value="{{context.User.dataValues.firstName}}">
        <input type="hidden" id="lastNameQuestion" name="lastName" value="{{context.User.dataValues.lastName}}">
        <input type="hidden" id="userIdQuestion" name="userId" value="{{context.User.dataValues.id}}">
        <span name="questionTopic" id="questionTopic">{{context.dataValues.topic}}</span>
        <h4 name="questionsubject" id="questionSubject">{{context.dataValues.subject}}</h4>
        <p name="questionDetails" id="questionsContent">{{context.dataValues.details}}</p>
        <div class="dateReply"></div>
        <span class='repliesBox'>Replies</span>
        <p>{{this.createdAt}}</p>

        {{!-- <input name="date" id ="questiondate">{{{this.dataValues.createdAt}}}</input> --}}
    </div>
</div>
{{#each context.comments}}
<div id="replies" class='replyContent'>
    <p name="commentContent" id="commentContent">{{this.dataValues.details}}</p>
</div>
{{/each}}
<div id="commenting">
    <form method="POST" action="/addComment">
        <input type="hidden" name="questionId" value="{{context.dataValues.id}}">
        <input id="comment" row="3" name="comment" placeholder="add your reply ......"></input>
        <button type="submit">comment</button>
    </form>
</div>
</div>

{{!-- 
    <div class="nextPage">
        <button type="submit">Next-></button>
    </div> --}}