{{>searchBar}}
<div class="discussions">
    {{#each question}}
    <div class="eachDiscussion">
        <div class="profilePictureQuestion" id="questionPic">
            <img src="{{this.User.dataValues.imageUrl}}" onclick="loadUserProfile()">
        </div>
        <div id="question" class='questionContent'>
            <input type="hidden" id="firstNameQuestion" name="firstName" value="{{this.User.dataValues.firstName}}">
            <input type="hidden" id="lastNameQuestion" name="lastName" value="{{this.User.dataValues.lastName}}">
            <input type="hidden" id="userIdQuestion" name="userId" value="{{this.User.dataValues.id}}">
            <span name="questionTopic" id="questionTopic">{{this.topic}}</span>
            <h4 name="questionsubject" id="questionSubject">{{this.subject}}</h4>
            <p name="questionDetails" id="questionsContent">{{this.details}}</p>
            <div class="dateReply"></div>
            <span class='repliesBox'>Replies</span>
            <p>{{this.createdAt}}</p>
            {{!-- <input name="date" id ="questiondate">{{{this.dataValues.createdAt}}}</input> --}}
        </div>
    </div>
    {{/each}}
{{!-- 
    <div class="nextPage">
        <button type="submit">Next-></button>
    </div> --}}
</div>